# Specific locations
.private/                  # very secret stuff
.private/ShadowLink-Analisi.html

# System files
.DS_Store                   # macOS stupid files
Thumbs.db                   # Windows stupid files

# IDE configuration files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*~

# Logs
*.log