# Specific files
ShadowLink-Analisi.html

# System files
.DS_Store
Thumbs.db

# IDE configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.temp
*~

# Logs
*.log